<div style="padding:20px;"
    [ngStyle]="{ 'background-color': (item == selectedItem) ? 'orange' : 'lightsteelblue'}">
    <h2>{{item.firstName}} - {{item.name}}</h2>
    <p>Passenger No. #{{item.id}}</p>
    <p>Bonus Miles {{item.bonusMiles}}</p>

    <div style="height:40px">
        <p>
            <input type="button"
                   value="Select"
                   class="btn btn-default"
                   (click)="select()"/>
        </p>
    </div>

    <ng-content></ng-content>

</div>
